@use "@/styles/devtz007_sass_library/_mixin_flex_lb.module.scss" as mif;

//transition
@mixin transition-type-1($area: all) {
  transition: $area 0.3s ease-in-out;
}

// claymorphism
@mixin claymorphism-type-1($bgColor: green) {
  backdrop-filter: blur(5px);
  box-shadow:
    inset -8px -8px 16px 0 rgb(var($bgColor), 0.15),
    inset 0 11px 28px 0 rgb(var($bgColor));
}

// Light neon effect mixin
@mixin neon-light($color) {
  text-shadow:
    0 0 2px rgba($color, 0.4),
    0 0 4px rgba($color, 0.3),
    0 0 6px rgba($color, 0.2),
    0 0 10px rgba($color, 0.1);
}

// neon flicker
@mixin neon-flicker($name: neon-flicker, $duration: 1.5s, $intensity: 0.6) {
  @keyframes #{$name} {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
      opacity: 1;
    }
    20%,
    24%,
    55% {
      opacity: $intensity;
    }
  }

  animation: #{$name} $duration infinite alternate;
}

// width
@mixin width-wrapper-type-1 {
  width: 90%;
}

@mixin width-100 {
  width: 100%;
}

// height
@mixin height-100 {
  height: 100%;
}

// width and height
@mixin width-height-100 {
  width: 100%;
  height: 100%;
}

// heading
//h1
@mixin h1-type-1($color: rgb(var(--secondary-color))) {
  font-size: 4em;
  font-weight: 600;
  color: $color;

  @media (width <= 768px) {
    font-size: 2.5em;
  }
  @media (width <= 520px) {
    font-size: 2em;
  }
  @media (width <= 320px) {
    font-size: 1.5em;
  }
}

//h2
@mixin h2-type-1($color: rgb(var(--first-text-color))) {
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 50px;
  color: rgb(var(--first-text-color));

  @media (width <= 768px) {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 25px;
  }
  @media (width <= 520px) {
    font-size: 2em;
  }
  @media (width <= 320px) {
    font-size: 1.5em;
  }
}

//h3
@mixin h3-type-1($color: rgb(var(--first-text-color)), $marginBottom: 20px) {
  $margin-bottom: $marginBottom;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: $marginBottom;
  color: $color;

  @media (width <= 768px) {
    font-size: 1.6em;
    margin-bottom: calc($margin-bottom - 10px);
  }
  @media (width <= 520px) {
    font-size: 1.4em;
  }
  @media (width <= 320px) {
    font-size: 1.2em;
    margin-bottom: calc($margin-bottom - 15px);
  }
}

@mixin h3-type-2($color: rgb(var(--first-text-color)), $marginBottom: 20px) {
  $margin-bottom: $marginBottom;
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: $margin-bottom;
  color: $color;

  @media (width <= 768px) {
    font-size: 1.2em;
    margin-bottom: calc($margin-bottom - 5px);
  }
  @media (width <= 520px) {
    font-size: 1.1em;
    margin-bottom: calc($margin-bottom - 10px);
  }
  @media (width <= 320px) {
    font-size: 1em;
    margin-bottom: calc($margin-bottom - 15px);
  }
}

// paragraph
@mixin p-type-1($color: rgb(var(--second-text-color))) {
  font-size: 1em;
  color: $color;

  @media (width <= 520px) {
    font-size: 0.9em;
  }
  @media (width <= 320px) {
    font-size: 0.8em;
  }
}

@mixin p-type-2($color: rgb(var(--second-text-color))) {
  font-size: 1.1em;
  color: $color;

  @media (width <= 520px) {
    font-size: 1em;
  }
  @media (width <= 320px) {
    font-size: 0.9em;
  }
}

// icon content
@mixin icon-content-type-1($svgColor: green) {
  display: flex;
  justify-content: center;
  align-items: center;

  svg,
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  svg {
    color: $svgColor;
  }
}

// image content
@mixin image-content-type-1($objectFit: contain, $objectPosition: center) {
  @include mif.flex-jc-ac;

  img {
    width: 100%;
    height: 100%;
    object-fit: $objectFit;
    object-position: $objectPosition;
  }
}

// button content
@mixin button-content-type-1($padding: 11px 20px 10px, $padding-520px: 8px 15px 7px) {
  display: flex;

  button,
  a {
    @include mif.flex-jc-ac;
    font-size: 1em;
    text-transform: uppercase;
    padding: $padding;
    border-radius: 20px;
    border: 1px solid rgb(var(--secondary-color));
    color: rgb(var(--secondary-color));
    @include transition-type-1($area: all);

    @media (width <= 520px) {
      font-size: 0.9em;
      padding: $padding-520px;
    }

    &:hover {
      border: 1px solid rgb(var(--primary-color));
      color: rgb(var(--primary-color));
    }
  }
}

//-------By techjork.com and devtz007-------//
