// global.scss
@use "@/styles/devtz007_sass_library/_reset_lb";
@use "@/styles/devtz007_sass_library/_mixin_flex_lb.module.scss" as mif;
@use "@/styles/_mixin_reusable.module.scss" as mre;

:root {
  // Box shadow
  --box-shadow-1: rgb(0 0 0 / 10%) 0px 8px 32px 0px;
  --box-shadow-2: 0 35px 34px rgb(61 90 125 / 6%);

  //colors
  --primary-color: 255, 0, 51; /* #FF0033 */
  --secondary-color: 44, 169, 188; /* #2CA9BC */
  --first-background-color: 0 0 0; /* #000000 */
  --second-background-color: 11, 18, 31; /* #0b121f */
  --third-background-color: 28 37 56; /* #202837 */
  --fourth-background-color: 33, 44, 66; /* #212c42 */
  --first-text-color: 255 255 255; /* #ffffff */
  --second-text-color: 170 170 170; /* #EDEFF2 */
  --first-border-color: 32 40 55; /* #202837 */
  --second-border-color: 255 255 255; /* #fffff */
}

html {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

body {
  position: relative;
  @include mif.flex-row;
  font-size: 16px;
  max-width: 1920px;
  margin: 0 auto;
  background: rgb(var(--second-background-color));
  overflow: hidden;

  /* background: linear-gradient(
    146deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(248, 248, 255, 1) 80%,
    rgba(245, 245, 245, 1) 100%
  ); */
  aside,
  .app_layout {
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }

  aside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 500px;
    height: 100%;
    transform: translateX(-500px);
    background-color: transparent;

    @media (width <= 520px) {
      width: 320px;
      transform: translateX(-320px);
    }
  }

  .app_layout {
    width: 100%;
    background: rgb(var(--second-background-color));
  }

  .simplebar-scrollbar::before {
    background-color: #f70233;
  }

  &.open_sideBar {
    aside {
      transform: translateX(0);
    }

    .app_layout {
      transform: translateX(200px);
    }
  }
}

//heading
h1 {
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
  font-size: 4.3em;
  font-weight: 900;
  color: white;
}

//page
.page_type_1 {
  @include mif.flex-col-ac;
  width: 100%;
  margin-top: 90px;

  @media (width <= 768px) {
    margin-top: 80px;
  }
  @media (width <= 520px) {
    margin-top: 70px;
  }
}

//width_wrapper
.width_wrapper_type_1 {
  width: 90%;
}

//my_container
.my_container_type_1 {
  padding: 50px 0;
}

.my_container_type_2 {
  padding: 100px 0 50px;

  @media (width <= 768px) {
    padding: 50px 0;
  }
}

//lucid icon
.LI-transition {
  @include mre.transition-type-1($area: color);
}

.d_none {
  display: none;
}

// Highlight component on scroll
.highlight-component {
  outline: 2px solid #fc0;
  background-color: rgb(255 255 0 / 10%);
  transition: all 0.3s ease;
  padding: 10px;
}
