/* src/app/(home)/page.scss */
@use "@/styles/devtz007_sass_library/_mixin_flex_lb.module.scss" as mif;

.home_3_page {
  padding: 20px 20px 0;
  overflow: hidden;
  background-color: var(--second-background-color);

  /* CONTAINER: 1 */
  .container_1 {
    position: relative;
    padding: 0;
    overflow: hidden;
    border-radius: 12px;
    background-color: var(--first-background-color, black);

    .width_wrapper {
      @include mif.flex-col-ac;
      gap: 20px;
      padding: 20px;
      width: 100%;
    }

    .sub_container_1 {
      position: relative;
      @include mif.flex-row-jsb-ac;
      gap: 20px;
      margin: 0 auto;
      max-width: 1200px;
      overflow: hidden;
      justify-content: space-between;
      min-height: 500px;

      .PageIntro2PagePart__placeHolder {
        flex: 1 1 60%;
        max-width: 60%;
      }

      .image_cont {
        position: relative;
        z-index: 2;
        flex: 1 1 60%;
        width: auto;
        overflow: hidden;
      }
    }

    .round_shape_1 {
      position: absolute;
      z-index: 1;
      top: -200px;
      left: -200px;
      width: 400px;
      height: 400px;
      background-color: var(--primary-color);
      border-radius: 50%;
      box-shadow:
        0 0 400px 300px #{var(--primary-color)}CC,
        0 0 800px 600px #{var(--primary-color)}B3,
        0 0 1600px 1200px #{var(--primary-color)}99,
        0 0 2500px 1800px #{var(--primary-color)}80,
        0 0 4000px 3000px #{var(--primary-color)}66;
      pointer-events: none;
      filter: blur(200px);
      opacity: 1;
    }

    .round_shape_2 {
      position: absolute;
      z-index: 1;
      right: -200px;
      bottom: -200px;
      width: 400px;
      height: 400px;
      background-color: var(--primary-color);
      border-radius: 50%;
      box-shadow:
        0 0 400px 300px #{var(--primary-color)}CC,
        0 0 800px 600px #{var(--primary-color)}B3,
        0 0 1600px 1200px #{var(--primary-color)}99,
        0 0 2500px 1800px #{var(--primary-color)}80,
        0 0 4000px 3000px #{var(--primary-color)}66;
      pointer-events: none;
      filter: blur(200px);
      opacity: 1;
    }
  }

  /* CONTAINER: 2 */
  .container_2 {
    padding: 0 0;
    margin: 60px auto;
    max-width: 1200px;
    background-color: var(--second-background-color);

    .SponsorCards1PagePart_placeHolder {
      width: 100%;
      padding: 20px;
    }
  }

  /* CONTAINER: 3 */
  .container_3 {
    border-radius: 12px;
    background-color: var(--first-background-color, black);
    margin: 120px auto;
    max-width: 1200px;

    .FeatureCards4PagePart_placeHolder {
      padding: 20px;
      
      .card {
        min-height: 200px;
      }
    }
  }

  /* CONTAINER: 4 */
  .container_4 {
    border-radius: 12px;
    background-color: var(--first-background-color, black);
    margin: 120px auto;
    max-width: 1200px;
  }

  /* CONTAINER: 5 */
  .container_5 {
    position: relative;
    margin: 120px auto;
    max-width: 1200px;

    .width_wrapper {
      @include mif.flex-row-ac;
      gap: 100px;
      z-index: 2;

      .About1PagePart_placeHolder {
        flex: 1 1 400px;
        max-width: 50%;
        padding: 20px;

        .Heading1PagePart_placeHolder {
          .heading_1_pagePart {
            @include mif.flex-col-as;
          }
        }
      }

      .image_cont {
        flex: 1 1 400px;
        width: auto;
        border-radius: 8px;
        overflow: hidden;
      }
    }

    .bg1_image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-size: cover;
      background-position: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  /* CONTAINER: 6 */
  .container_6 {
    position: relative;
    margin: 120px auto;
    max-width: 1200px;

    .width_wrapper {
      width: 100%;
    }
  }

  /* CONTAINER: 7 */
  .container_7 {
    .width_wrapper {
      width: 100%;
    }
    padding: 0;
    border-radius: 12px;
    background-color: var(--first-background-color, black);
    margin: 120px 0;
  }
}
