@use "@/styles/devtz007_sass_library/_mixin_flex_lb.module.scss" as mif;

.aboutUs_page {
  /* CONTAINER: 1 */
  .my_container_1 {
    position: relative;
    @include mif.flex-row-ac;
    gap: 100px;

    .About1PagePart_placeHolder {
      flex: 1 1 400px;
      max-width: 50%;

      @media (width <= 768px) {
        max-width: 100%;
        text-align: center;
      }

      .about_1_pagePart {
        @media (width <= 768px) {
          @include mif.flex-col-ac;
        }
      }
    }

    .image_content {
      @include mif.flex-jc-ac;
      flex: 1 1 400px;
      width: 100%;

      img {
        width: 100%;
        object-fit: contain;
        object-position: center;
      }

      @media (width <= 768px) {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        padding: 10px;
        opacity: 0.2;
      }
    }
  }
}
